<div class="has-bg-img">
    <div class="bg-img bg-cover"
        style="background-image: url('../../../assets/wooden-table-product-background.jpg'); height:100%; width:100%;">
        <h2 class="text-center">Kitchen story Homepage</h2>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm container">
                    <div class="row"><img
                            src="https://static.vecteezy.com/system/resources/previews/002/755/167/original/kitchen-utensil-silhouettes-collection-free-vector.jpg"
                            alt></div>
                    <br><br><br><br><br>
                    <div class="row bg-white">
                        <p class="font-weight-bold">It's time to
                            cook things up with our extensive range
                            of kitchenware. Whether you're a master chef or just
                            a keen cook, we have everything you need to equip
                            your kitchen. From essential saucepan sets and
                            kitchen knives to utensils and accessories, you'll
                            find the best kitchen essentials at great prices!</p>
                    </div>
                    <br><br>
                </div>
                <div class="col-sm container">
                    <div class="row">
                        <img
                            src="https://thumbs.dreamstime.com/b/kitchen-items-3134678.jpg"
                            alt>
                    </div>
                    <br>
                    <div class="row"><img
                            src="https://thumbs.dreamstime.com/b/kitchen-utensils-isolated-white-background-top-view-97048811.jpg"
                            alt></div>
                </div>
                <div class="col-sm container">
                    <br><br><br><br><br><br>
                    <div class="row bg-white font-weight-bold">
                        <p class="font-weight-bold">Your kitchen is the most
                            important room in the house!
                            It's where you cook up culinary magic, entertain
                            guests, and dance with the radio on whilst you wash
                            up. As one of the hubs of the house, both for
                            gathering and for foody function, you've got to make
                            sure it's kitted out to its full potential. Got a
                            large kitchenware checklist? Whether you're moving
                            house or revamping the kitchen, you've come to the
                            right place to find kitchen essentials at great
                            prices! Dine in style or stick purely to utility
                            with our range of both practical and pretty
                            utensils, pans, gadgets, dinner sets, and
                            accessories. Looking for tableware like cutlery and
                            place mats, or cookware like saucepans and pressure
                            cookers? We've got you covered. Choose from a range
                            of colours and brands, including Tefal, Morphy
                            Richards, Le Creuset and more, perfect for any
                            kitchen style. For more kitchen inspiration,
                            cleaning tips, recipe advice, and must-have
                            rundowns, check out our blog posts on kitchenware.

                            Compliment your kitchenware set with our range of
                            kitchen electricals. Our kitchen electronics are
                            designed to make life easier, whether you need a
                            washing machine, electric oven or a fridge, we've
                            got everything you need to complete your kitchen.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>